body{
    background-color: bisque;
    margin: 0;
}
.container {
    width: 70%;
    height: 100%;
    margin: auto;
    text-align: center;
}
h2 {
    margin: auto;
    font-family: cursive;
    font-size: 48px;
    text-align: center;
}
.dice  {
    font-size: 30px;
    text-align: center;
    display: inline-block;
}
img {
    width: 80%;
}
.bottomcontainer {
    padding-top: 20px;
}
.btn {
    font-family: cursive;
    background-color: burlywood;
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
    padding: 16px 25px 16px 25px;
    border-radius: 20px;
    display: block;
    margin: auto;
}
.btn:hover {
    background-color: white;
    color: burlywood;
}
.kosong {
    color: burlywood;
    padding-top: 500px;
    text-align: center;
}
